@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
    url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
body{
width: 1480px;
margin: 0 auto;
}
header{

}
.container{
    width: 1280px;
    margin:0 auto;
}
header h1{
    font-family: 'Myriad Pro';
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: left;
    margin-top: 61px;
    margin-bottom: 45px;
}
.the_first_two_letters{
    font-family: 'Myriad Pro';
    color:  #4bcaff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
.menu{
    height: 69px;
    line-height: 69px;
}
.menu ul{
    text-align: center;
    border:1px solid;
    border-color: #fff  ;
    margin:0 auto;
    background-color: #35444f;
}
.menu li{
    display: inline-block;

}
.menu li:first-child{
}
.menu a{
    text-decoration: none;
    display: block;
    padding:0 40px 0;
    font-family: 'Myriad Pro';
    color:  #fff;
    font-size: 24px;
    font-weight: 400;
}
.menu a:hover{
    background:#222f3a;;
    transition: 0.5s;
}
.second_menu{
    line-height: 57px;
    display: inline-block;
}
.second_menu ul{
    border:1px solid;
    margin-left: 1px;
    width: 324px;
    margin-left: 0;
    margin-top: 16px;
}
.second_menu li{
    display: block;
}
.second_menu a{
    font-family: 'Myriad Pro';
    color:  #000000;
    font-size: 26.99px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    display: block;
    padding:0 39px 0;
}
.second_menu li:hover{
    background-color: #e0e0e0;
}
.second_menu a:hover{
    background-color: #e0e0e0;
    transition: 0.5s;
    padding-left : 20px;
}
.top_img{
    border:1px solid;
    border-color: black;
    width: 885px;
    height: 529px;
    display: inline-block;
    float: right;
    margin-top: 16px;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.top_img :hover{
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.5s;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 0.5s;
}
.top_images{
    position: relative;
    left: 297px;
    top: 70px;
}
.section2{
    
}
.section3 p{
    margin-left: 420px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.CopyRight{
    height: 69px;
    line-height: 69px;
}
.CopyRight ul{
    text-align: left;
    border:1px solid;
    border-color: #fff  ;
    margin:0 auto;
    width: 1280px;
    background-color: #898e91;
}
.CopyRight li{
    display: inline-block;
}
.CopyRight a{
    text-decoration: none;
    display: block;
    padding:0 20px 0;
    font-family: 'Myriad Pro';
    color:  #fff;
    font-size: 24px;
    font-weight: 400;
}
.CopyRight a:hover{
    color: aqua;
    border-bottom: 1px solid;
    border-color: aqua;
}
.CR2018{
    float: right;
    margin-right: 30px;
    font-family: 'Myriad Pro';
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}   
.first_text{
    display: inline-block;  
    margin-top: 30px;
}